[submodule "andes"]
	path = andes
	url = https://github.com/curent/andes.git
[submodule "andes_cases"]
	path = andes_cases
	url = https://github.com/curent/andes_cases.git
[submodule "andes_addon"]
	path = andes_addon
	url = https://github.com/curent/andes_addon.git
[submodule "mininet"]
	path = mininet
	url = https://github.com/curent/mininet.git
[submodule "ltbnet"]
	path = ltbnet
	url = https://github.com/curent/ltbnet.git
[submodule "pypmu"]
	path = pypmu
	url = https://github.com/curent/pypmu.git
[submodule "ltbvis"]
	path = ltbvis
	url = https://github.com/curent/ltbvis.git
[submodule "dime"]
	path = dime
	url = https://github.com/curent/dime.git
[submodule "dime2"]
	path = dime2
	url = https://github.com/TheHashTableSlasher/dime2
